@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	font-weight: 300
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
a
	color: $accent
	font-weight: bold
	text-decoration: none
	transition: all .2s ease
	&:hover
		text-decoration: none
		color: $accent
img
	display: block
	max-width: 100%
	height: auto

b, strong
	font-weight: 600

.btn
	background-color: $accent
	color: #fff
	text-decoration: none
	font-size: 14px
	padding: 12px 30px
	text-transform: uppercase
	font-weight: 500
	box-shadow: 0 0 30px rgba(#000, .3)
	border: 1px solid transparent
	cursor: pointer
	&:hover
		color: #fff
		background-color: darken($accent, 3)
	&-white
		background-color: transparent
		color: $accent
		border: 1px solid $accent
		box-shadow: none

// HEADER
.header
	background-color: #fff
	box-shadow: 0 5px 50px rgba(#000, .3)
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	&-logo
		img
			width: 120px
	&-wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 18px 0
	&-right
		display: flex
		align-items: center
	&-phones
		display: flex
	.phone
		display: flex
		margin-right: 25px
		&:last-child()
			margin-right: 0
		a:hover
			color: $text	
		img
			width: 35px
			height: auto
			margin-right: 5px
		&-info
			small
				display: block
// HERO
.hero
	min-height: 100vh
	padding-top: 97px
	position: relative
	color: #fff
	&:before
		content: ''
		display: block
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		background-color: rgba($text, .7)
		z-index: 1
	.container
		z-index: 2
	&-wrap
		height: 100%
		display: flex
		justify-content: space-between
		padding-top: 6%
	&-form
		background-color: #fff
		color: $text
		max-width: 400px
		width: 100%
		height: auto
		padding: 34px
		opacity: 0
		button
			animation-duration: 1s
			animation-delay: 5s
			animation-iteration-count: infinite
			&:hover
				animation-play-state: paused
		h2
			font-size: 18px
			color: #000
		p
			font-size: 14px
			line-height: 1.55
h1
	font-size: 52px
	margin-top: -15px
.subtitle
	font-size: 26px
	display: block

.t-radio__control 
	display: table
	position: relative
	cursor: pointer
	margin: 0 0 10px 0
.t-radio
	position: absolute
	z-index: -1
	opacity: 0
.t-radio__indicator
	position: relative
	display: inline-block
	vertical-align: middle
	height: 20px
	width: 20px
	border-color: #000
	border-style: solid
	border-width: 2px
	box-sizing: border-box
	border-radius: 50%
	margin-right: 10px
	-webkit-transition: all 0.2s
	transition: all 0.2s
	opacity: 0.6
	&:after
		content: ''
		width: 10px
		height: 10px
		background: #000
		border-radius: 50%
		position: absolute
		top: 0
		bottom: 0px
		left: 0
		right: 0
		margin: auto
		opacity: 0
		transition: all 0.2s
.t-radio__control .t-radio:checked ~ .t-radio__indicator:after
	opacity: 1

form
	input, button, small, textarea
		display: block
		width: 100%
	input
		font-size: 16px
		font-weight: 300
		background-color: #f0f0f0
		padding: 10px 18px
		border: none
		margin-bottom: 20px
	.dealer-choice
		font-size: 14px
		margin-bottom: 10px
		display: block
	button
		margin: 20px 0
	small
		font-size: 16px
		font-weight: 300
		a
			text-decoration: none
			border-bottom: 1px solid #000000
			box-shadow: inset 0px -0px 0px 0px #000
			color: #ff8562
			font-weight: 300
			&:hover
				color: #000
//CARS
.cars
	&-head
		padding: 50px 0
		background-size: cover
		background-position: center
		position: relative
		z-index: 1
		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba($accent, .8)
			z-index: -1
		h2
			max-width: 680px
			width: 100%
			font-size: 36px
			color: #fff
			margin: 0 auto
			text-align: center
			line-height: 1.35
	&-links
		display: flex
		justify-content: space-around
		flex-wrap: wrap
		list-style-type: none
		padding: 0
		a
			background-color: #fff
			padding: 10px 30px
			box-shadow: 0 15px 35px -5px rgba(0,0,0,.25)
			color: #3e4757
			font-size: 16px
			display: block
			margin: 25px 15px 0
			transition: transform .3s cubic-bezier(.25,.1,.25,1),box-shadow .3s cubic-bezier(.25,.1,.25,1)
			&:hover
				transform: translateY(-.125em)
	&-list
		padding: 80px 0 30px
		display: flex
		justify-content: space-between
		flex-wrap: wrap

.car
	width: 31%
	margin-bottom: 40px
	padding-bottom: 70px
	position: relative
	.btn-wrap
		display: flex
		align-items: center
		justify-content: space-between
		position: absolute
		width: 100%
		left: 0
		bottom: 0
		.btn
			font-size: 14px
			text-transform: none
			padding: 12px 30px
	&-link
		color: $text
		font-weight: 300
		&:hover
			color: $text
	strong
		background-color: #bb162a
		font-weight: 700
		font-size: 20px
		text-transform: uppercase
		border-radius: initial
		color: #fff
		height: 50px
		display: inline-block
		font-weight: bold
		font-size: 20px
		line-height: 50px
		text-align: center
		padding: 0 10px
		position: relative
		margin-bottom: 10px
		&:after
			position: absolute
			z-index: -1
			content: ""
			right: -10%
			top: 0
			height: 50px
			width: 100%
			background-color: inherit
			transform: skewX(-10deg)
	.photo
		position: relative
		display: block
		height: 200px
		&:hover
			img
				&:first-child()
					opacity: 0
				&:last-child()
					opacity: 1
		img
			transition: all .3s
			opacity: 1
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: auto
			&:last-child()
				opacity: 0
	h3
		font-size: 20px
		line-height: 1.35
	.descr
		font-size: 16px
		line-height: 1.6
		display: block
		margin-bottom: 15px
	.price
		font-size: 16px
		font-weight: 500
		s
			color: #ccc
			margin-left: 13px

//OFFER
.offer
	padding: 80px 0
	&-head
		text-align: center
		h2
			font-size: 52px
			line-height: 1.2
		.descr
			font-size: 24px
			margin: 30px 0
			display: block
	&-form
		max-width: 700px
		width: 100%
		margin: 0 auto
		form
			input, textarea
				background-color: #fff
				border: 1px solid $text
				padding: 15px
			textarea
				height: 120px
				margin: 25px 0
				overflow: auto
				resize: none
			button
				width: auto
				display: block
				position: relative
				left: 50%
				transform: translateX(-50%)
				padding: 15px 50px
				margin-bottom: 30px
			small
				text-align: center
				font-size: 14px
				display: block
				&:last-child()
					margin-top: 20px
				a
					color: $text

// MAPS
.maps
	padding: 50px 0 0
	.dealer
		background-color: #F6F7F8
		display: flex
		&:nth-child(even)
			flex-direction: row-reverse
		&-info
			width: 50%
			min-height: 500px
			height: 75vh
			display: flex
			flex-direction: column
			justify-content: center
			padding-left: 100px
			h2
				font-size: 42px
				color: #000
		&-contacts
			margin: 30px 0
			a
				display: block
				color: $text
				font-weight: 300
				font-size: 24px
		&-address
			font-size: 18px
			margin-bottom: 30px
		&-time
			font-size: 18px
		&-map, &-map2
			background-color: #ccc
			width: 50%
			min-height: 500px
			height: 75vh
			position: relative
			overflow: hidden
			cursor: pointer

.loader 
	position: absolute
	z-index: 15
	top: -100%
	left: 0
	box-sizing: border-box
	width: 100%
	height: 100%
	overflow: hidden
	color: #000000
	transition: opacity .7s ease
	opacity: 0
	background-color: rgba(0, 0, 0, .55)


.loader:after,
.loader:before 
	box-sizing: border-box


.loader.is-active 
	top: 0
	opacity: 1


.loader-default:after 
	position: absolute
	top: calc(50% - 24px)
	left: calc(50% - 24px)
	width: 48px
	height: 48px
	content: ''
	-webkit-animation: rotation 1s linear infinite
	animation: rotation 1s linear infinite
	border: solid 8px #ffffff
	border-left-color: transparent
	border-radius: 50%

#map1, #map2
	position: relative
	z-index: 7
	width: 100%
	display: block
	min-height: 500px
	height: 75vh
	cursor: pointer
	background-color: transparent

@-webkit-keyframes rotation 
	from 
		transform: rotate(0)
	to 
		transform: rotate(359deg)
	
@keyframes rotation 
	from 
		transform: rotate(0)
	to 
		transform: rotate(359deg)

@-webkit-keyframes blink 
	from 
		opacity: .5	
	to 
		opacity: 1

@keyframes blink 
	from 
		opacity: .5		
	to 
		opacity: 1

.footer
	padding: 50px 0
	background-color: #0d0d0d
	text-align: center
	p
		font-size: 14px
		color: #9d9d9d
	img
		margin: 0 auto

.top
	position: fixed
	bottom: 15px
	left: -300px
	z-index: 100
	opacity: .7
	cursor: pointer
	transition: all .7s ease-in-out
	&:hover
		opacity: 1
	&.active
		left: 20px






@import "media"