.avn
	padding: 50px 0
	+media-breakpoint-down(xs)
		padding: 30px 0
	&__wrap
		display: flex
		justify-content: space-between
	&__list
		padding-left: 350px
		flex: 1
		padding-right: 20px
		+media-breakpoint-down(sm)
			display: flex
			justify-content: space-between
			flex-wrap: wrap
	&__item
		display: flex
		justify-content: space-between
		border: 2px solid #ddd
		padding: 25px 20px
		border-radius: 10px
		box-shadow: 0 0 30px rgba($text, .2)
		background-color: transparent
		transition: all .3s linear
		margin-bottom: 25px
		+media-breakpoint-down(lg)
			flex-wrap: wrap
		+media-breakpoint-down(sm)
			flex-direction: column
			width: 48%
		+media-breakpoint-down(xs)
			width: 100%
		&:hover
			border-color: $accent
			box-shadow: 0 0 10px rgba($text, .5)
		&--info
			flex: 1
			padding: 0 20px
			+media-breakpoint-down(sm)
				padding: 0
			&_name
				max-width: 300px
				h2
					text-transform: uppercase
					margin: 0
		&--img
			width: 300px
			min-height: 160px
			position: relative
			+media-breakpoint-down(sm)
				margin-bottom: 20px
				max-width: 300px
				width: 100%
			+media-breakpoint-down(xs)
				margin: 0 auto 20px
			img
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
		&--links
			display: flex
			justify-content: center
			flex-direction: column
			+media-breakpoint-down(lg)
				width: 100%
				justify-content: center
				flex-direction: row
			+media-breakpoint-down(sm)
				flex-direction: column
				margin: 0 auto
			a
				text-align: center
				padding: 8px 16px
				margin: 8px 0
				+media-breakpoint-down(lg)
					margin: 20px 10px 0
				+media-breakpoint-down(sm)
					margin: 15px 0 0
	&__filter
		width: 340px
		min-height: 400px
		height: 100%
		padding-bottom: 150px
		overflow-y: auto
		position: fixed
		left: 0
		top: 120px
		padding-left: 20px
		padding-right: 20px
		+media-breakpoint-down(xs)
			margin-bottom: 30px
		&--head
			display: flex
			justify-content: space-between
			align-items: center
			text-transform: uppercase
			font-size: 14px
			font-weight: 300
			cursor: pointer
			margin-bottom: 30px
		&--title
			display: flex
			align-items: center
			transition: all .3s linear
			&.open
				color: $accent
				svg
					fill: $accent
		&--icon
			height: 20px
			svg
				width: 20px
				height: 20px
				margin-right: 6px
				transition: all .3s linear
		&--reset
			display: none
		&--form
			display: flex
			flex-wrap: wrap
			+media-breakpoint-down(md)
				justify-content: center
			+media-breakpoint-down(xs)
				justify-content: flex-start
				flex-direction: column

.form-item
	margin: 1%
	+media-breakpoint-down(xs)
		margin: 0
		margin-bottom: 15px
	h4
		text-transform: uppercase
		font-weight: 300
		color: $gray
		font-size: 14px
.form-group, .item-group
	display: flex
	align-items: center
.form-group
	&.engine-group
		flex-direction: column
	+media-breakpoint-down(xs)
		flex-wrap: wrap
.item-group
	margin-right: 10px
	&:last-child
		margin-right: 0	
	input
		width: 0
		height: 0
		background-color: transparent
		border: none
		position: absolute
		left: -100px
		&:checked + label
			border-color: $accent
			&:before
				background-color: $accent
				background-image: url(../img/icons/icon-checkbox.svg)
				background-size: 70%
				background-repeat: no-repeat
				background-position: center
	label
		padding: 8px 10px 8px 45px
		border: 1px solid $light-gray
		border-radius: 30px
		position: relative
		transition: all .3s
		cursor: pointer
		font-size: 16px
		z-index: 1
		&:before
			content: ''
			width: 28px
			height: 28px
			border-radius: 50%
			background-color: $light-gray
			position: absolute
			top: 7px
			left: 8px
			transition: background-color .3s
			padding: 10px
			z-index: 1


.parameter
	text-transform: uppercase
	font-size: 14px
	white-space: nowrap
	margin-right: 8px
	+media-breakpoint-down(md)
		margin-bottom: 5px
	&__row
		display: flex
		+media-breakpoint-down(md)
			flex-direction: column
		.parameter
			flex: 1
	&.parameter-price
		font-size: 24px
		margin: 15px 0 25px
		font-weight: 500
		display: flex
		flex-wrap: wrap
		align-items: center
		+media-breakpoint-down(md)
			font-size: 20px
		s
			color: #aaa
			margin-left: 20px
			+media-breakpoint-down(sm)
				margin-left: 0
		strong
			font-weight: bold
			margin-left: 8px
			margin-top: 0
			+media-breakpoint-down(sm)
				margin-right: 30px
		+media-breakpoint-down(md)
			margin-bottom: 20px
		+media-breakpoint-down(sm)
			font-size: 16px
			margin-bottom: 10px

// Custom Select2

.select2-container
	min-width: 200px
	width: auto !important
	flex: 1
	font-size: 16px
.select2-container .select2-selection--single
	border-radius: 30px
	height: auto
	font-size: 16px
	border-color: $light-gray
	padding: 8px 10px
	outline: none
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single
	border-top-left-radius: 20px
	border-top-right-radius: 20px
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0
.select2-container--default .select2-selection--single .select2-selection__rendered
	color: $text
	line-height: 1.6
	padding: 0
.select2-container--default .select2-selection--single .select2-selection__arrow
	height: 28px
	width: 28px
	background-color: $light-gray
	border-radius: 50%
	top: 7px
	right: 8px
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow
	background-color: $accent
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow b
	transition: all .3s
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
	border-color: transparent transparent #fff transparent
	margin-top: -4px
.select2-dropdown
	border-color: $light-gray
	z-index: 2
.select2-container--default .select2-results__option[aria-selected=true]
	background-color: $accent
	color: #fff
.select2-container--default .select2-results__option--highlighted[aria-selected=false]
	background-color: $light-gray
	color: $text
.select2-container--default .select2-results > .select2-results__options
	max-height: 300px
	box-shadow: 0 30px 30px rgba($text, .2)
.select2-results__option
	padding: 8px 10px