.model
	h1
		margin-bottom: 50px
		font-size: 35px
	&__header
		display: flex
		margin-bottom: 40px
		&--img
			width: 50%
			img
				width: 100%
		&--text
			width: 50%
			padding-left: 50px
			display: flex
			flex-direction: column
			justify-content: space-between
			.prices
				font-size: 35px
				font-weight: bold
				line-height: 1.2
				s
					font-size: 25px
					color: #aaa
				.benefit
					font-weight: 300
					text-transform: uppercase
					font-size: 30px
					b
						color: $accent
			.mini-descr
				font-size: 16px
				padding-left: 0
				list-style-type: none
				margin: 0
			.btn-wrap
				display: flex
				justify-content: space-between
				a
					width: 48%
					text-align: center
					padding-left: 0
					padding-right: 0
